@import '../../styles/variables';

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.empty {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 140px;
    transform: translateX(-12px);
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20rem;
    color: var(--accent-color);
  }

  &__link {
    color: $accent-color;

    &:hover {
      cursor: pointer;
      color: $accent-active-color;
      transition: 0.3s ease;
    }
  }
}
