$primary-font-color: #333232;
$accent-color: #2cb708;
$accent-hover-color: #28970c;
$accent-active-color: #53dc2f;
$unimportant-color: #b9b9b9;
$page-bg-color: #f5f5f5;
$footer-bg-color: #eef1f2;
$border-color: #eaeaea;
$unimportant-bg-color: #efefef;
$error-color: #eb8528;
